@media screen and (max-width: 768px) {


    .header {
        display: flex;
        justify-content: center;
        padding: 10px;
        gap: 0.5px;
    }

    .header input {
        width: 200px;
        padding: 10px;
        border: 1px solid #666;
        border-radius: 5px;
        font-size: 16px;
    }   

    .placeholder {
        text-align: left;
        font-size: 20px;
        line-height: 1.5rem;
    }

    .book-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
        height: 100%;

    }

    .book-container.active{
        display: none;
    }

    .book {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sub-row.active {
     display: none;
    
 }

    .list-container.active{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .list-container h2{
        text-align: center;
        margin-bottom: 1rem;
    }

    .book-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        
    }




}